html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5dc;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*여백조정 test*/
/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /*background-color: #000;*/
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active,
button:focus,
button:focus-visible {
  background-color: #fff !important; /* 흰색 또는 원하는 색 */
  color: #FF914D !important;         /* 오렌지색으로 강조하고 싶으면 */
  outline: none;
  box-shadow: none;
}
.btn-outline-dark:active,
.btn-outline-dark:focus,
.btn-outline-dark:focus-visible {
  background-color: #FF914D !important; /* 오렌지색 */
  color: #fff !important;
  border-color: #FF914D;
  outline: none;
  box-shadow: 0 4px 16px rgba(255,145,77,0.12);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9; !import;
  }
}
